html, body{
    background-color: #2d2d2d;
    color: #f1f1f1;
    text-align: center;
}


#question1{
    display: none;
}
#question2{
    display: none;
}
#question3{
    display: none;
}
#question4{
    display: none;
}
#question5{
    display: none;
}
#question6{
    display: none;
}
#question7{
    display: none;
}
#question8{
    display: none;
}
#question9{
    display: none;
}
#question10{
    display: none;
}